* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
}

#info {
    display: flex;
    flex-direction: column;
    font-size: 35px;
}